* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    transition:  2s ease-in-out; 
}


.heart {
    width: 110px;
    height: 120px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    margin-top: 45px;
    box-shadow: 14px 20px 40px rgb(217, 109, 109);
    transition:  2s ease-in-out; 
}

.heart:before,
.heart:after {
    content: '';
    width: 122px;
    height: 120px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transition:  2s ease-in-out; 
}

.heart:before {
    top: -50px;
    left: 0;
}

.heart:after {
    top: 0;
    left: 50px;
}

body:hover .heart {
    background-color: white;
    box-shadow: 14px 20px 40px red;
}

body:hover .heart:before,
body:hover .heart:after {
    background-color: white;
}

body:hover .letra {
    color: rgb(223, 7, 7);
    text-shadow: 8px 8px 10px white;
    transition: 2s ease-in-out; 

}
    
.love {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.letra {
    color: #fff;
    font-size: 260px;
    margin-top: 30px;
    transition: 2s ease-in-out; 
    text-shadow: 8px 8px 10px rgb(170, 21, 21);

}
